@charset "UTF-8";
/**
* 溢出省略号
* @param {Number} 行数
*/
/* BEM -------------------------- */
/**
* 真1px边框
* {List}  多个方向边框, 默认值为bottom, 你可以根据需要传入(top, left, bottom, right) 4个方向
* {Color} 边框的颜色, 默认#ccc
* {List} 4个圆角半径, 默认0
* {String} 一个高级设置, 一般都不需要改动, 由于细边框的实现使用了css的伪类, 所以为了规避可能出现的样式冲突, 我们可以自己指定使用:after还是:before, 默认after
*/
/**
* 等边三角形
* @param {String} 尺寸
* @param {Color} 颜色
* @param {String} 方向
*/
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Border
-------------------------- */
/* Font Size
-------------------------- */
/* z-index
-------------------------- */
/* Size Lenght
-------------------------- */
.cc-click--invalid {
  pointer-events: none; }

.cc-onselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cc-bs-b {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04); }

.cc-bs-d {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12); }

.cc-bs-l {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }

.cc-bc-b {
  border: 1px solid #DCDFE6; }

.cc-bs-n {
  -webkit-box-shadow: none;
  box-shadow: none; }

.cc-bc-l {
  border: 1px solid #DCDFE6;
  border-color: #EBEEF5; }

.cc-br-0 {
  border-radius: 0; }

.cc-br-2 {
  border-radius: 2px; }

.cc-br-4 {
  border-radius: 4px; }

.cc-f--left {
  float: left; }

.cc-f--right {
  float: right; }

.cc-dis--n {
  display: none; }

.cc-dis--b {
  display: block; }

.cc-dis--i {
  display: inline; }

.cc-dis--ib {
  display: inline-block; }

.cc-pos--a {
  position: absolute; }

.cc-pos--r {
  position: relative; }

.cc-pos--f {
  position: fixed; }

.cc-pos--s {
  position: static; }

.cc-pos--i {
  position: inherit; }

.cc-cur--a {
  cursor: auto; }

.cc-cur--c {
  cursor: crosshair; }

.cc-cur--d {
  cursor: default; }

.cc-cur--p {
  cursor: pointer; }

.cc-cur--m {
  cursor: move; }

.cc-cur--t {
  cursor: text; }

.cc-cur--w {
  cursor: wait; }

.cc-cur--h {
  cursor: help; }

.cc-fw--n {
  font-weight: normal; }

.cc-fw--b {
  font-weight: bold; }

.cc-fw--l {
  font-weight: lighter; }

.cc-ta--c {
  text-align: center; }

.cc-ta--left {
  text-align: bold; }

.cc-ta--r {
  text-align: right; }

.cc-td--o {
  text-decoration: overline; }

.cc-td--l {
  text-decoration: line-through; }

.cc-td--u {
  text-decoration: underline; }

.cc-td--n {
  text-decoration: none; }

.cc-ov--o {
  overflow: overline; }

.cc-ov--l {
  overflow: line-through; }

.cc-ov--u {
  overflow: underline; }

.cc-ov--n {
  overflow: none; }
